@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap");

body {
  background-color: #141414;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
}

section {
  margin-bottom: 60px;
}

.header {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: right;
  margin-top: 26px;
}
.logo-container {
  display: flex;
  height: 7.7vw;
  min-height: 58px;
  position: absolute;
  justify-content: center;
  left: 47.3vw;
}
.header-menu {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  z-index: 10;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: #ffffff;
  margin: 3px 0 9px;
}

.hero-section {
  display: flex;
  color: #ffffff;
  justify-content: center;
  flex-direction: column;
}
.title-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  position: absolute;
  padding: 0 28.5vw 0 27.5vw;
  box-sizing: border-box;
}
#hero-title {
  font-size: 6.5vw;
  line-height: 62px;
  text-align: left;
  color: #ffffff;
  -webkit-text-shadow: 2px 2px 0px #f9b2a8;
  text-shadow: 2px 2px 0px #f9b2a8;
}
.video-container {
  display: flex;
  align-items: center;
  width: 100%;
}
#hero-video {
  width: 100vw;
  height: 933px;
  object-fit: cover;
  z-index: -10;
}
.hero-p-container {
  display: flex;
  justify-content: center;
  padding: 39px 0 2px;
}
.hero-section p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0 0 0 16px;
  max-width: 580px;
}

.section-title {
  font-size: 28px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 10px;
}
.section-link-container {
  display: flex;
  justify-content: center;
  margin: 0 0 48px 16px;
  box-sizing: border-box;
}
.section-link {
  font-size: 20px;
  transition-property: color;
  transition-duration: 300ms;
  font-family: "Roboto", sans-serif;
}

.section-link:link {
  color: #cfcfcf;
}
.section-link:visited {
  color: #c9a095;
}
.section-link:hover {
  color: #ffffff;
}
.section-link:active {
  color: #f1f1f1;
}

.selected-works {
  margin-bottom: 38px;
}
.selected-works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 8px 0 15px;
}
.selected-work {
  width: calc((100% / 2) - (2 * 4.75px));
  box-sizing: content-box;
  margin-left: 9.5px;
  /* utiliser plutôt la proprieté gap */
}
.sw-image {
  width: 100%;
}
.sw-title {
  font-size: 18px;
  transition-property: color;
  transition-duration: 300ms;
  margin: 7px 0 47.25px 11px;
  color: #c9a095;
}
.sw-link {
  margin: 0;
  text-decoration: none;
}
.sw-title:link {
  color: #f9c5b8;
}
.sw-title:visited {
  color: #f9c5b8;
}
.sw-title:hover {
  color: #f0ded9;
}
.sw-title:active {
  color: #ffffff;
}
.selected-references {
  margin-bottom: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-hr {
  display: flex;
  justify-content: center;
  margin: 1px 0 30px;
  border: 0;
  border-bottom: 1px solid #cfcfcf;
  width: 100%;
}
.footer-link-container {
  display: flex;
  justify-content: center;
  margin-left: 16px;
}
.footer-link {
  transition-property: color;
  transition-duration: 200ms;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 9px;
  padding-bottom: 6px;
}
.footer-link:link {
  color: #f1f1f1;
}
.footer-link:visited {
  color: #c9a095;
}
.footer-link:hover {
  color: #cfcfcf;
}
.footer-link:active {
  color: #f1f1f1;
}

/* breakpoint tablet */

@media screen and (min-width: 768px) {
  .header {
    margin-top: 40px;
  }
  section {
    margin-bottom: 80px;
  }

  .menu-link {
    font-size: 20px;
    margin: 2px 0 6px;
    line-height: 23px;
    letter-spacing: 0.8px;
  }
  .header-menu {
    margin-right: 12px;
  }
  .logo-container {
    height: 7.48vw;
    left: 46.925vw;
  }
  .title-container {
    padding: 0 27vw 0 26.225vw;
  }

  #hero-title {
    font-size: 6vw;
    letter-spacing: 2.5px;
    line-height: 76px;
    -webkit-text-shadow: 3px 3px 0px #f9b2a8;
    text-shadow: 3px 3px 0px #f9b2a8;
  }
  .hero-p-container {
    padding-top: 79px;
  }

  .section-title {
    font-size: 34px;
    letter-spacing: 1.5px;
    margin: 0 0 14px 18px;
  }
  .section-link-container {
    margin-bottom: 90px;
  }

  .selected-works {
    margin-bottom: 72px;
  }
  .selected-works-container {
    margin: 0 90px;
    padding-right: 3px;
  }
  .selected-work {
    width: calc((100% / 4) - (4 * 5px));
    margin: 0 0 0 20px;
  }

  .sw-title {
    margin: 9px 0 42px 2px;
  }
  .footer-hr-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-hr {
    margin: 48px 0 38px 16px;
    max-width: 1100px;
  }
  .footer-link {
    font-size: 18px;
    letter-spacing: -0.4px;
    margin: 0 10px;
    padding-bottom: 42px;
  }
}